# Videos de demostración
/Video de demostracion/
/*.mp4

# Configuración local de VSCode

# Configurado por si acaso se generan -env para la prueba de la aplicación con entornos virtuales
__pycache__/
*.pyc
.venv/
.env